




<header>      
      <h1>Administrator Dashboard</h1>
      <div class="d-grid  d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" id="logout" type="button">Logout</button>
        </div>
  </header>


    <ul class="nav flex-column" style="margin-top: 10px; padding-top: 75px">
        <li class="nav-item">
          <p class="nav-link active">Search for donor</p>
          <div class="input-group mb-3">
            <a class="btn btn-primary" href="#" role="button">Link</a>
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
          <ul>
            <li>Donor No.: {{donor_num}}</li>
            <li>Name: {{first_name}} {{last_name}}</li>
            <li>Location: {{location}}</li>
            <li>Contact No.: {{contact_num}}</li>
            <li>Gender: {{sex}}</li>
            <li>Date of Birth: {{dob}}</li>
            <li>Age: {{Age}}</li>
            <li>email: {{email}}</li>
            <li>Blood Type: {{blood_type}}</li>
          </ul>

        <li class="nav-item">
          <p class="nav-link active" href="#">Search by blood type</p>
          <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Blood Type</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="unknown">unknown</option>
            </select>
            <button class="btn btn-outline-secondary" type="button">Search</button>
          </div>
          {{!-- {{#if }} --}}
          <ul>
            <li>Donor No.: {{donor_num}}</li>
            <li>Name: {{first_name}} {{last_name}}</li>
            <li>Location: {{location}}</li>
            <li>Contact No.: {{contact_num}}</li>
            <li>Gender: {{sex}}</li>
            <li>Date of Birth: {{dob}}</li>
            <li>Age: {{Age}}</li>
            <li>email: {{email}}</li>
          </ul>

          {{!-- {{/if}} --}}
        <li class="nav-item">
          <a class="nav-link active" href="#">Blood Statistics By Location</a>
          {{!-- {{#if }} --}}
          <ul>
            <li>Donor No.: {{donor_num}}</li>
            <li>Name: {{first_name}} {{last_name}}</li>
            <li>Location: {{location}}</li>
            <li>Contact No.: {{contact_num}}</li>
            <li>Gender: {{sex}}</li>
            <li>Date of Birth: {{dob}}</li>
            <li>Age: {{Age}}</li>
            <li>email: {{email}}</li>
            <li>Blood Type: {{blood_type}}</li>
          </ul>
          {{!-- {{/if}} --}}
        <li class="nav-item">
          <p class="nav-link active" href="#">Add Appointment</p>
          <form>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Date:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Time:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Appointment</button>
          </form>
          {{!-- {{#if }} --}}
          <ul>
            <li>Donor No.:</li>
            <li>Date:</li>
            <li>Time:</li>
          </ul>
          {{!-- {{/if}} --}}
        <li class="nav-item">
          <a class="nav-link active" href="#">Update Donor Account</a>
          {{!-- {{#if }} --}}
          <ul>
            <li>Donor No.: {{donor_num}}</li>
            <li>Name: {{first_name}} {{last_name}}</li>
            <li>Location: {{location}}</li>
            <li>Contact No.: {{contact_num}}</li>
            <li>Gender: {{sex}}</li>
            <li>Date of Birth: {{dob}}</li>
            <li>Age: {{Age}}</li>
            <li>email: {{email}}</li>
            <li>Blood Type: {{blood_type}}</li>
          </ul>
          {{!-- {{/if}} --}}
        </li></ul>


<script src="./js/adminDash.js"></script>