



 <header><span id="dashboard">Administrator Dashboard</span>
        <form>
          <div id="adminname" class="form-group mx-sm-3 mb-2">
            <label for="exampleFormControlInput1">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div id="Role" class="form-group mx-sm-3 mb-2">
            <label for="exampleFormControlSelect1">Role</label>
            <select class="form-control" id="exampleFormControlSelect1"></select>
            </div>
         <div class="d-grid  d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" id="logout" type="button">Logout</button>
        </div>
            <br></br>
            
      </header>
    <br></br>


    <div class="card">
        <div class="card-header">
         SEARCH FOR DONOR
        </div>
         <div class="form-group">
                  <label for="username">Donor number</label>
                  <input
                    type="username"
                    class="form-input"
                    id="username"
                    aria-describedby="usernameHelp"
                    placeholder="Enter Donor number"
                  />
                  <small id="donornumber class="form-text text-muted"
                </div>
            <button id="fetchdonor" type='fetchdonor' value='fetchdonor'>
        Submit </button>
                <ul>
            <li>{{donor_num}}</li>
            <li>{{first_name}} {{last_name}}</li>
            <li>{{location}}</li>
            <li>{{contact_num}}</li>
            <li>{{sex}}</li>
            <li>{{dob}}</li>
            <li>{{Age}}</li>
            <li>{{email}}</li>
            <li>{{blood_type}}</li>
          </ul>
      </div>
      </div>

<br></br>

      <div class="card">
        <div class="card-header">
        UPDATE APPOINTMENT 
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Donor number</label>
                  <input type="donornumber" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Date</label>
                  <input type="Date" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                    <input type='checkbox' id='has_attended' name='Attended' value='true' />
      <label for='has_attended'>
        Check box if donor has attended appointment
      </label>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>

            </div>
        </div>
      </div>

<br></br>
      <div class="card">
        <div class="card-header">
        ADD NEW APPOINTMENT 
        </div>
        <div class="card-body">
            <form class="p-5 col-8" id="appointment-form">
                <div class="form-group">
                  <label for="username">Donor number</label>
                  <input
                    type="username"
                    class="form-input"
                    id="username"
                    aria-describedby="usernameHelp"
                    placeholder="Enter Donor number"
                  />
                  <small id="donornumber class="form-text text-muted"
                </div>
                <div class="form-group">
                  <label for="Date">Product</label>
                  <input
                    type="date"
                    class="form-input"
                    id="date"
                    placeholder="date"
                  />
                </div>
                <div class="form-group">
                  <label for="time">time</label>
                  <input
                    type="time"
                    class="form-input"
                    id="time"
                    placeholder="time"
                  />
                </div>
                <button id="add-appointment" type='add_appointment' value='add_appointment'>
        Add appointment
      </button>
        </div>
            </div>
        </div>
      </div>
       <ul>
            <li>Donor No.:</li>
            <li>Date:</li>
            <li>Time:</li>
          </ul>

      <div class="card">
        <div class="card-header">
        FIND DONOR AND DONATION HISTORY
        </div>
        <div class="card-body">
            <div class="dropdown show">
                <a id="fetchhistory" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blood donation history
                </a>
              </div>
            </div>
        </div>
      </div>

      <br></br>

      <div class="card">
        <div class="card-header">
         FIND DONORS BY BLOODTYPE
        </div>
        <div class="card-body">
            <div class="dropdown show">
              <div id="location" class="form-group mx-sm-3 mb-2">
            <label for="exampleFormControlInput1">Location</label>
            <input type="location" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div id="bloodtype" class="form-group mx-sm-3 mb-2">
            <label for="exampleFormControlSelect1">Bloodtype</label>
            <select class="form-control" id="exampleFormControlSelect1"></select>
            </div>
                  <button id="bloodlocation" type='search' value='Search'>
        Search
      </button>
              </div>
              </div>
                </a>
        </div>
      </div>
<br></br>
      <div class="card">
        <div class="card-header">
       DELETE DONOR ACCOUNT
        </div>
         <div class="form-group">
                  <label for="username">Donor number</label>
                  <input
                    type="username"
                    class="form-input"
                    id="username"
                    aria-describedby="usernameHelp"
                    placeholder="Enter Donor number"
                  />
                  <small id="donornumber class="form-text text-muted"
                </div>
        <div class="card-body">
           <input type="hidden" id="selectedItemId" value="<id of your selected item>">
            <button type="button" class="btn btn-light" id="delete-donor-account">Delete donor account</button>
                    <ul class="list-group" id="update-if-attended-appointment"></ul>
            </div>
        </div>
      </div>




<script src="js/admin.js"></script>

